<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>간단한 ToDo 리스트 예제 실습</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body style="padding:50px; font:14px 'Lucida Grande', Helvetica, Arial, sans-serif;">
  <h1>간단한 ToDo 리스트 예제 실습</h1>
  <br><br>

  <!-- 새로운 ToDo 항목 추가 -->
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" id="new_todo" style="width:250px;" placeholder="새로운 할 일(공백없이 입력하세요)"/>
    </div>
    <button type="button" class="btn btn-primary" onclick="add_todo()">추가</button>
  </form>
  <br>

  <!-- ToDo 목록 -->
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>내용</th>
      <th>상태</th>
      <th>삭제</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
</body>

<!-- ToDo 기능 구현 내용 -->
<script>
  // indexedDB 사용
  const idxedDB = window.indexedDB;	// indexedDB 가져오기
  const request = idxedDB.open('TodoDB');   // TodoDB(db) 열기

  request.onupgradeneeded = (e) => {
    const db = e.target.result
    db.createObjectStore('todo', {keyPath: 'title'})
  }

  // todo 목록 가져오기
  request.onsuccess = (e) =>{
    let i = 1
    const list = request.result
    const transaction = list.transaction('todo')

    const objStore = transaction.objectStore('todo')
    const cursorReq = objStore.openCursor()

    cursorReq.onsuccess = (e) =>{
      let cursor = e.target.result
      let title = cursor.value.title
      let complete = cursor.value.complete

      console.log(complete, title)

      todo_list = `<tr style="margin-bottom:20px;">
						<td>${(i)}</td>
						<td id="todo_${title}">${title}</td>
						<td>
							<button type="button" class="btn btn-success" id="todo_success_${title}">완료</button>
							<button type="button" class="btn btn-success" id="todo_cancel_${title}" style="display:none">취소</button>
						</td>
						<td><button type="button" class="btn btn-danger" id="todo_delete_${title}">삭제</button></td>
					</tr>`;

      $('tbody').append(todo_list);
      cursor.continue()

      $('#todo_success_' + title).on('click', function(){
        success_todo(title)
      })

      $('#todo_cancel_' + title).on('click', function(){
        cancel_todo(title)
      })

      $('#todo_delete_' + title).on('click', function(){
        remove_todo(title)
      })
    }
  }

  // todo 목록 추가
  function add_todo(){
    let title = document.getElementById('new_todo').value
    console.log(title)
    writeDB(title)
  }

  function writeDB(title){
    const db = request.result
    const transaction = db.transaction(['todo'], 'readwrite')
    const objStore = transaction.objectStore('todo')
    const add_title = objStore.add({title:title, complete:false})

    location.reload()
  }

  // todo 완료
  function success_todo(key){
    const db = request.result
    const transaction = db.transaction(['todo'], 'readwrite')
    const objStore = transaction.objectStore('todo')
    const objStoreReq = objStore.get(key)
    const updateReq = objStore.put({title:key, complete:true})

    console.log('success')

    $('#todo_success_' + key).hide()
    $('#todo_cancel_' + key).show()
    list = document.getElementById('todo_' + key)
    $('#todo_' + key).css({ textDecoration: "line-through" });
  }

  // todo 미완료
  function cancel_todo(key){
    const db = request.result
    const transaction = db.transaction(['todo'], 'readwrite')
    const objStore = transaction.objectStore('todo')
    const objStoreReq = objStore.get(key)
    const updateReq = objStore.put({title:key, complete:false})

    console.log('cancel')

    $('#todo_success_' + key).show()
    $('#todo_cancel_' + key).hide()
    $('#todo_' + key).css({ textDecoration:"none" })
  }

  // todo 삭제
  function remove_todo(key){
    const db = request.result
    const transaction = db.transaction(['todo'], 'readwrite')
    const objStore = transaction.objectStore('todo')
    const delete_todo = objStore.delete(key)

    location.reload()
  }
</script>
</html>