<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>간단한 ToDo 리스트 예제 실습</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <style>
    body{
      padding:50px;
      font:14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    }

    #new_todo{
      width:250px;
    }

    #popup{
      width:350px;
      height:200px;
      float:left;
      left:50%;
      transform:translate(-50%);
      position:relative;
      border:1px solid #409fb4;
      border-radius:5px;
      background-color:white;
      display:none;
    }

      #content{
        width:100%;
        height:100px;
        float:left;
        position:relative;
      }

        #content input{
          width:250px;
          height:30px;
          float:left;
          margin:50px 0 0 50px;
          border:1px solid #409fb4;
          position:relative;
        }

      #popup button{
        width:55px;
        height:30px;
        float:left;
        margin-top:30px;
        margin-left:30px;
        position:relative;
      }
  </style>
</head>
<body style="">
  <h1>간단한 ToDo 리스트 예제 실습</h1>
  <br><br>

  <!-- 새로운 ToDo 항목 추가 -->
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" id="new_todo" autocomplete="off" placeholder="새로운 할 일(공백없이 입력하세요)"/>
    </div>
    <button type="button" class="btn btn-primary" onclick="add_todo()">추가</button>
  </form>
  <br>

  <!-- ToDo 목록 -->
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>내용</th>
      <th>상태</th>
      <th>삭제</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>

  <div id="popup">
    <div id="content">
      <input type="text" id="title_input" class="form-control" autocomplete="off" placeholder="title">
    </div>

    <button type="button" id="update" class="btn btn-info" style="margin-left:110px;">수정</button>
    <button type="button" id="cancel" class="btn btn-info">닫기</button>
  </div>
</body>

<!-- ToDo 기능 구현 내용 -->
<script>
  // indexedDB 사용
  const indexedDB = window.indexedDB;	// indexedDB 가져오기
  const request = indexedDB.open('TodoDB');   // TodoDB(db) 열기

  request.onupgradeneeded = (e) => {
    const db = e.target.result
    db.createObjectStore('todo', {keyPath: 'title'})
  }

  // todo 목록 가져오기
  request.onsuccess = (e) =>{
    let i = 1
    const list = request.result
    const transaction = list.transaction('todo')

    const objStore = transaction.objectStore('todo')
    const cursorReq = objStore.openCursor()

    cursorReq.onsuccess = (e) =>{
      let cursor = e.target.result
      let title = cursor.value.title    // DB title 값 가져오기
      let complete = cursor.value.complete  // DB complete 값 가져오기

      todo_list = `<tr style="margin-bottom:20px;">
						<td>${(i)}</td>
						<td id="todo_${title}" style="cursor:pointer;">${title}</td>
						<td>
							<button type="button" class="btn btn-success" id="todo_success_${title}">완료</button>
							<button type="button" class="btn btn-success" id="todo_cancel_${title}" style="display:none">취소</button>
						</td>
						<td><button type="button" class="btn btn-danger" id="todo_delete_${title}">삭제</button></td>
					</tr>`;

      $('tbody').append(todo_list);   // todo 항목 추가
      cursor.continue()   // DB를 반복적으로 조회
      i++

      $('#todo_success_' + title).on('click', function(){
        success_todo(title)  // 확인 함수 호출
      })

      $('#todo_cancel_' + title).on('click', function(){
        cancel_todo(title)  // 취소 함수 호출
      })

      $('#todo_delete_' + title).on('click', function(){
        remove_todo(title)  // 삭제 함수 호출
      })

      $('#todo_' + title).on('click', function(){
        $('#popup').show()
        document.getElementById('title_input').placeholder = title

        update_todo(title, complete)
      })


      $('#cancel').on('click', function(){
        $('#popup').hide()
      })
    }
  }

  // todo 목록 추가
  function add_todo(){
    let title = document.getElementById('new_todo').value   // 새로운 리스트 값 가져오기
    writeDB(title)  // 리스트 생성 함수 호출
  }

  function writeDB(title){
    const db = request.result
    const transaction = db.transaction(['todo'], 'readwrite')     // DB를 읽고 쓸 수 있도록 불러오기
    const objStore = transaction.objectStore('todo')
    const add_title = objStore.add({title:title, complete:false}) // DB에 값 추가하기(complete의 기본값 : false)

    location.reload()
  }

  // todo 목록 완료
  function success_todo(key){
    const db = request.result
    const transaction = db.transaction(['todo'], 'readwrite')
    const objStore = transaction.objectStore('todo')
    const objStoreReq = objStore.get(key)                       // 가져온 key 값을 사용하여 불러오기
    const updateReq = objStore.put({title:key, complete:true})  // complete 값을 true로 변경하기

    console.log('success')

    // 취소 버튼 보여주고 확인 버튼 숨기기, 글자 중앙 선 넣기
    $('#todo_success_' + key).hide()
    $('#todo_cancel_' + key).show()
    $('#todo_' + key).css({ textDecoration: "line-through" });
  }

  // todo 목록 미완료
  function cancel_todo(key){
    const db = request.result
    const transaction = db.transaction(['todo'], 'readwrite')
    const objStore = transaction.objectStore('todo')
    const objStoreReq = objStore.get(key)
    const updateReq = objStore.put({title:key, complete:false}) // complete 값을 false로 변경하기

    console.log('cancel')

    // 확인 버튼 보여주고 취소 버튼 숨기기, 글자 중앙 선 없애기
    $('#todo_success_' + key).show()
    $('#todo_cancel_' + key).hide()
    $('#todo_' + key).css({ textDecoration:"none" })
  }

  // todo 수정
  function update_todo(key, complete){
    $('#update').on('click', function(){
      const update_title = document.getElementById('title_input').value
      console.log(key)

      const db = request.result
      const transaction = db.transaction(['todo'], 'readwrite')
      const objStore = transaction.objectStore('todo')
      const delete_todo = objStore.delete(key)    // key 값을 사용하여 해당 DB 삭제
      const updateReq = objStore.put({title:update_title, complete:complete}) // title 값 변경하기

      location.reload()
    })

  }

  // todo 삭제
  function remove_todo(key){
    const db = request.result
    const transaction = db.transaction(['todo'], 'readwrite')
    const objStore = transaction.objectStore('todo')
    const delete_todo = objStore.delete(key)    // key 값을 사용하여 해당 DB 삭제

    location.reload()
  }
</script>
</html>